.button {
	background-color: $darkblack;
	color: $golden;
	padding: 2vw;
	border-radius: $borderRadius;
	-webkit-border-radius: $borderRadius;
	-moz-border-radius: $borderRadius;
	-ms-border-radius: $borderRadius;
	-o-border-radius: $borderRadius;
	border-color: transparent;
	margin-top: 2vh;
	font-size: 1.3rem;

	&:hover {
		color: $goldenYellow;
	}
}

%button {
	background-color: $darkblack;
	border-radius: $borderRadius;
	-webkit-border-radius: $borderRadius;
	-moz-border-radius: $borderRadius;
	-ms-border-radius: $borderRadius;
	-o-border-radius: $borderRadius;
	padding: 2vw;
}
