.invoices {
	&__paid {
		margin: 4vh 0;
		padding-left: 3vw;
	}

	&__openinv {
		padding: 4vh 3vw;
		border: 1px solid $aquagreen;
		border-radius: $borderRadius;
		-webkit-border-radius: $borderRadius;
		-moz-border-radius: $borderRadius;
		-ms-border-radius: $borderRadius;
		-o-border-radius: $borderRadius;
		margin: 4vh 2vw 4vh 0;
	}
	&__box {
		@extend %box;
		display: flex;
		justify-content: space-between;
		padding: 3vw;

		&__heading {
			font-weight: 400;
			margin-bottom: 2vh;
			@include gradheading($pinkLinear);
		}
		&__link {
			align-self: center;
		}
		&__icon {
			width: 4vw;
		}
		&__p {
			margin-bottom: 2vh;
		}
		&__amount {
			@include gradheading($pinkLinear);
			font-size: 1.5rem;
			align-self: center;
		}
	}
}

.singleinv {
	&__heading {
		font-weight: 400;
		text-align: center;
		margin-bottom: 4vh;
		@include gradheading($pinkLinear);
	}
	&__invdata {
		display: flex;

		&__names {
			margin-right: 6vw;
			&__p {
				margin-bottom: 2vh;
			}
		}

		&__data {
			margin-right: 10vw;
			&__p {
				margin-bottom: 2vh;
				&:nth-child(5) {
					@include gradheading($pinkLinear);
				}
			}

			&__icon {
				margin-top: 0.8vh;
				margin-right: 0.5vw;
				&--green {
					color: $aquagreen;
				}
				&--red {
					color: fuchsia;
				}
			}
		}
	}
}
.button__openpdf {
	@extend %button;
	align-self: center;
	max-width: 16vw;
	img {
		max-width: 12vw;
	}
}

.button__payonline {
	@extend %button;
	font-size: 1.3rem;
	font-family: $ibmplexmono;
	color: $aquagreen;
	margin-left: 5vw;
	margin-top: 4vh;
	&--paid {
		display: none;
	}
}
