.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20vw;
	&__paper {
		background-color: rgba(32, 29, 63, 1);
		border: 1px solid #000;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
		padding: 5vw;
		border-radius: 20px;
	}
}
