.CircularProgressbar-text {
	font-family: $ibmplexmono;
	font-size: 30px !important;
	text-transform: uppercase;
	background: $pinkLinear !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}
