* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: $cadetLinear;
	background-repeat: no-repeat;
	height: 100vh;
	background-attachment: fixed;
	color: $snowwhite;
	font-family: $inter;
	font-size: 1.25rem;
}

header,
main {
	padding-left: 32vw;
}

main {
	min-height: 100vh;
	padding-top: 2vh;
	padding-right: 2vw;
}

header {
	padding-top: 2vh;
	padding-right: 2vw;
	display: flex;
	justify-content: space-between;
}

aside {
	width: 30vw;
	height: 100vh;
	position: absolute;
	z-index: 999;
	top: 0;
	background: $patrickblueLinear;
	padding: 2vh 2vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	margin-top: 10vh;
	padding-left: 32vw;
	text-align: center;
	font-size: 1rem;
}

button {
	cursor: pointer;
	background-color: transparent;
	border-width: 0;
	color: inherit;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
h1 {
	font-size: 1.6rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

%box {
	margin: 0 2vw 4vh 0;
	padding: 2vh;
	border-radius: $borderRadius;
	-webkit-border-radius: $borderRadius;
	-moz-border-radius: $borderRadius;
	-ms-border-radius: $borderRadius;
	-o-border-radius: $borderRadius;
	background: $spacecadet;
	box-shadow: $boxShadow;
}
